{# ------------------------------------------------ #}
{# Include Twig #}
{# ------------------------------------------------ #}

<div>
  <p>This Content is included via</p>
  <p>
    <code>include/_mollo-module-include.html.twig</code>
  </p>
  <br>
  <div class="success"><i class="fas fa-check"></i> &nbsp;Included</div>
</div>
